* {
    margin: 0;
    font-family: system-ui !important;
    color: white;
}
body {
    background-color: #1d1d1d;
}
header {
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}
.main-class {
    padding: 10px;
}
.vm-menu {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #000;
}
button {
    display: inline-block;
    background-color: #1d1d1d;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.2s ease;
}
button:hover {
    background-color: #3f3f3f;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 10px #000;
}
.vm-menu p {
    display: inline-block;
}